<html ng-app="MeanAnalytics">

<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-resource.js"></script>
</head>

<body ng-controller="TestController as test">
    <div class="container">
        <div class="row">
            <form role="form" action="/api/book" method="POST" class="col-md-9 go-right">
                <h2>{{test.title}}</h2>
                <p>Name</p>
                <div class="form-group">
                    <input id="name" name="name" type="text" class="form-control" required>
                    <label for="name">Number of Tickets</label>
                </div>
                <div class="form-group">
                    <input id="gender" name="number" type="tel" class="form-control" required>
                    <br/>
                    <label for="film">Film</label>
                    <input id="film" name="film" class="form-control" required>
                    <button type="submit" class="btn">test</button>
            </form>
            </div>
        </div>

        <script src="/static/js/app.js"></script>
        <script src="/static/js/directives.js"></script>
        <script src="/controllers/test-controller.js"></script>
</body>

</html>